

.img-responsive {
  font-size: 200%;
  margin: auto;
}
.form-group{
margin: auto;
text-align: left;
}
label{
  padding-left: 1%;
  margin-top: 2%;
}
.cert{
  margin: auto;
  height: 70px;
  weight:70px;
}
.well{
  background-image: url();
}
