

body{
  margin-top: 5%
}
.image{
width: 250px;
height: 250px;
margin-top: 1%;
}
.authors p{
font-size: 45px;
}
.quotes p{
  font-size: 20px;
  margin-left: 10%;
  margin-top: 17%;
}
.btn-default{
  margin-bottom: 10%;
}
